@{
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}

<div class="center-block">
    <p>Här ska bokningsshcmeat in.</p>
    <table id="tableMedlemBokar" class="table-responsive table-bordered">
        <thead>
            <tr>
                <th>Tid</th>
                <th>Golf ID</th>
                <th>HCP</th>
                <th>Kön</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09.00</td>
                <td>ID</td>
                <td>HCP</td>
                <td>färgade pluppar?</td>
            </tr>
            <tr>
                <td>09.10</td>
                <td>ID</td>
                <td>HCP</td>
                <td>Färgade pluppar?</td>
            </tr>
        </tbody>
    </table>
    </div>