@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Message</h2>



<div class="row">
    <div class="col-md-8">
        <h1>
            NOTE: Sätt in bokningsschema här när den är klar.
        </h1>
        <h2>Logga in för att boka tid</h2><br />
        <p><a class="btn btn-primary btn-lg" href="/Account/Login/">Boka</a></p>

    </div>
    <div class="col-md-4">
        <h1>
           Prislista
        </h1>

            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Aktivitet</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Golfaktivitet</td>
                        <td>100 kr</td>
                       
                    </tr>
                    <tr>
                        <td>Medlemsavgift</td>
                        <td>300 kr</td>
                        
                    </tr>
                    <tr>
                        <td>Aktivitet</td>
                        <td>350 kr</td>
                       
                    </tr>
                </tbody>
            </table>
     

    </div>

</div>