@{
    ViewBag.Title = "Välkommen att besöka oss!";
}
<h1>@ViewBag.Title</h1>

<address>
    Hålslagets golfbana<br />
    Gatan 23, Orten<br /><br />
    <abbr title="Phone"><strong>Vid frågor, ring oss på:</strong></abbr>
    070-12 34 567 <br />
        <strong>Maila oss:</strong>   <a href="mailto:Support@example.com">Halslaget@example.com</a><br />
</address><br />
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ08MdZNu5b0YRzrdgqIJKh3o&key=AIzaSyALIYedqCLLlIj7UKz6XCDEZ-9WzT7Ghcw" allowfullscreen></iframe>

