@{
    ViewBag.Title = "Vi befinner oss på:";
}
<h2>@ViewBag.Title.</h2>
<h3><address>
    Hålslagets golfbana<br />
    Gatan 23, Orten<br /><br />
    <abbr title="Phone"><strong>Vid frågor, ring oss på:</strong></abbr>
    070-12 34 567 <br />
        <strong>Maila oss:</strong>   <a href="mailto:Support@example.com">Halslaget@example.com</a><br />
</address></h3><br />

<p>NOTE: Sätt in en karta här</p>
