@{
    ViewBag.Title = "Välkommen att besöka oss!";
}
<h1>@ViewBag.Title</h1>


    <h2>
    
        Hålslagets golfbana<br />
        Kungsgården 205, Frösön<br />
        Östersund
    
</h2><br />
       <h3>
    <abbr title="Phone">Vid frågor, ring oss på:</abbr><br />
    070-12 34 567 <br /><br />
    Maila oss: <br /><a href="mailto:Support@example.com">Halslaget@example.com</a>
</h3> <br />
    
<br />
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr0eZ_U-2b0YRWPPcBdGiJSg&key=AIzaSyCyx_dvXltZlagIF5F-bEDdvZR6xQT5WMU" allowfullscreen></iframe>

