@{
    ViewBag.Title = "Hålslaget";
}

<div class="jumbotron">
    <h1><img src="~/Content/Images/logo18.png" title="Hålslaget golfklubb logo" alt="logo" /></h1>
    <p class="lead">Välkommen till Hålslagets golfklubb! Se lediga tider och boka redan nu.</p>
    <p><a class="btn btn-primary btn-lg" href="/Account/Login/">Boka</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/golf-ball-549228_960_720square.jpg" class="img-circle img-responsive pull-left" title="Golfbanan" alt="Golfbanan" style="max-height:200px" /></a>
        </div>
        <h2>Golfbanan</h2>
        <p>
            Beskrivning av golfbanan.

        </p>
        <p><a class="btn btn-primary" href="/Home/Golfbanan/">Banan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Home/Restauranger/"><img src="~/Content/Images/food-plate-restaurant-eatingsquare.jpg" class="img-circle img-responsive pull-left" title="Maten" alt="Maten" style="max-height:200px" /></a>
        </div>
        <h2>Restauranger</h2>
        <p>Beskrivning av restauranger, mat med mera.</p>
        <p><a class="btn btn-primary" href="/Home/Restauranger/">Maten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Home/Tävlingar/"><img src="~/Content/Images/Brandt_Snedeker_2012_PGA_Tour_Championship_Winsquare.jpg" class="img-circle img-responsive pull-left" title="Maten" alt="Maten" style="max-height:200px" /></a>
        </div>
        <h2>Tävlingar</h2>
        <p>Vill du tävla?</p>
        <p><a class="btn btn-primary" href="/Home/Tävlingar/">Tävlingar &raquo;</a></p>
    </div>
</div>
