@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/Images/logo18.png" title="Hålslaget golfklubb logo" alt="logo" /></h1>
    <p class="lead">Välkommen till Hålslagets golfklubb! Se lediga tider och boka redan nu.</p>
    <p><a class="btn btn-primary btn-lg" href="/Account/Login/">Boka</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h1>
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/golf-ball-549228_960_720square.jpg" class="img-circle img-responsive" title="Golfbanan" alt="Banan" style="max-width:220px" /></a>
        </h1>
        <h2>Golfbanan</h2>
        <p>
            Beksrivning av golfbanan.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Banan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/food-plate-restaurant-eatingsquare.jpg" class="img-circle img-responsive" title="Maten" alt="Maten" style="max-width:220px"/></a>
        </h1>
        <h2>Restauranger</h2>
        <p>Beskrivning av restauranger, mat med mera.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Maten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/Brandt_Snedeker_2012_PGA_Tour_Championship_Winsquare.jpg" class="img-circle img-responsive" title="Maten" alt="Maten" style="max-width:220px" /></a>
        </h1>
        <h2>Tävlingar</h2>
        <p>Vill du tävla i nästa turnering?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Tävlingar &raquo;</a></p>
    </div>
</div>