@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>



<div class="row">
    <div class="col-md-4">
        <h1>
            <img src="~/Content/Images/restaurant.jpg" class="img-rounded img-responsive" title="Golfbanan" alt="Banan" style="max-width:350px" />
        </h1>
        <h2>Restaurang Hålslaget</h2>
        <p>
           Välkommen på en oförglömlig matupplevelse hos restaurang Hålslaget. Vi serverar högklassiga rätter med inspiration från den franska landsbygden.<br /><br /><strong>Öppet: </strong>Alla dagar under säsongen kl 10 - 21
        </p>
    </div>
    <div class="col-md-4">
        <h1>
            <img src="~/Content/Images/bar.jpg" class="img-rounded img-responsive" title="Golfbaren" alt="Golfbaren" style="max-width:350px" />
        </h1>
        <h2>Golfbaren</h2>
        <p>Ta en svalkande drink efter golfturen i Golfbaren. Här finns också bekväma fåtöljer att sitta i och skärmar för att se de aktuella golfturneringarna. <br /><br /> <strong>Öppet: </strong>Alla dagar under säsongen kl 12 - 23</p>
       
    </div>
    <div class="col-md-4">
        <h1>
           <img src="~/Content/Images/bakery1.jpg" class="img-rounded img-responsive" title="Bageri" alt="Bageri" style="max-width:350px" />
        </h1>
        <h2>Café au Golf</h2>
        <p>På Café au Golf kan du ta en fikapaus eller en lätt lunch. Allt bakas och tillagas på plats med ekologiska råvaror från orten.<br /><br /><strong>Öppet: </strong>Alla dagar under säsongen kl 07 - 20</p>
       
    </div>
</div>
