@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>


<p>Tävlingar anordnas med jämna mellanrum hos Hålslagets Golfklubb, kontakta oss för mer information och anmälan.</p>
<div class="row">
    <div class="col-md-6">
        <h1>
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/tour1.jpg" class="img-rounded img-responsive" title="Tävling" alt="Tävling" style="max-width:500px" /></a>
        </h1>
        <h2>Hålslaget Grand Slam</h2>
        <h4>
            15 Juni är det återigen dags för Hålslagets Grand Slam, se till att vara där!
        </h4> <br /><h2><strong>Anmälan: </strong></h2>
        <h3>
            <abbr title="Phone">Ring oss: </abbr>
            070-12 34 567 <br />
            Maila oss:<a href="mailto:Support@example.com">Halslaget@example.com</a><br />
        </h3>
        
    </div>
    <div class="col-md-6">
        <h1>
            <a href="/Home/Golfbanan/"><img src="~/Content/Images/Brandt_Snedeker_2012_PGA_Tour_Championship_Win1.jpg" class="img-rounded img-responsive" title="Tävlingsresultat" alt="Tävlingsresultat" style="max-width:500px" /></a>
        </h1>
        <h2>Tävlingsresultat</h2>
        <p>Beskrivning av tävlingresultat från senaste tävlingen. <br /></p>

    </div>

</div>