
@model IList<Golf_6.Models.Admin>
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@using System.Data;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("AvanmalanAdmin"))
{

    <h2>Avanmäl tävlingsdeltagare</h2>
    <div class="container">
        <select multiple class="form-control" id="sel2">
            @foreach
                                        (var admin in
                                        Model)
            {

                <option class="list-group-item">@admin.GolfID, @admin.Fornamn @admin.Efternamn</option>

            }
        </select>
</div>
}

