@model System.Data.DataTable
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@using System.Data
@{
    ViewBag.Title = "SlumpaTävling";
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Message</h2>

<div>
    <table id="alla_medlemmar" class="display responsive" cellspacing="0">

        <thead>
            <tr>
                @foreach (DataColumn x in Model.Columns)
            {
                    <th>@x.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn x in Model.Columns)
                {
                        <td>@row[x.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>