@model Golf_6.Models.Admin.Incheckning
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Incheckning";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
<h2>Incheckning</h2>




}
