@*@model Golf_6.Models.Admin*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
    ViewBag.Title = "Index";
}

<h2>Välkommen admin!</h2>
@if (TempData["tävling"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Tävling</strong> @TempData["bokad"]
    </div>
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    @*</div>*@

<div class="row">
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Tidsbokning/BokningsschemaAdmin/"><img src="~/Content/Images/calendar.svg" class="img-circle img-responsive pull-left" title="Bokningar" alt="Bokningar" style="max-height:200px" /></a>
        </div>
        <h2>Bokningschemat</h2>
        <p>
            Här kan du boka in medlemmar på lediga tider samt avboka redan bokade tider.
        </p>
        <a class="btn btn-primary" href="/Tidsbokning/AdminBokningsschema/">Boka/Avboka</a>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Admin/AllaMedlemmar/"><img src="~/Content/Images/person11.svg" class="img-circle img-responsive pull-left" title="NyMedlem" alt="NyMedlem" style="max-height:200px" /></a>
        </div>
        <h2>Medlemmar</h2>
        <p>Här kan du lägga till nya medlemmar och uppdatera medlemsuppgifter.</p>
        <a class="btn btn-primary" href="/Admin/AllaMedlemmar/">Medlemmar</a>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <a href="/Admin/HanteraSasong/"><img src="~/Content/Images/open.jpg" class="img-responsive pull-left" title="Säsong" alt="Säsong" style="max-height:200px" /></a>
        </div>
        <h2>Säsong</h2>
        <p>Här kan du öppna och avsulta årets golfsäsongen</p>
        <a class="btn btn-primary" href="/Admin/HanteraSasong/">Hantera säsong</a>
    </div>



        
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
