@{
    ViewBag.Title = "RedigeraMedlem";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedigeraMedlem</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
