@model System.Data.DataTable
@using System.Data;

@*@{
    ViewBag.Title = "AllaMedlemmar";
}*@

@{
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}

<h2>Redigera befintlig medlem</h2>
<table>
    //Test för att läsa in bokade tider för ett datum, kön och hcp för samtliga deltagare på varje tid hämtas också
    <thead>
        <tr>
            @foreach (DataColumn x in Model.Columns)
            {
                <th>@x.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
            {
            <tr>
                @foreach (DataColumn x in Model.Columns)
                {
                    <td>@row[x.ColumnName]</td>
                }
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
