@model Golf_6.Models.TävlingModels.Resultat
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "RegistreraTävling";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@using (Html.BeginForm())
{
<h2>Registrera resultat för tävlingsdeltagare</h2>


}
