
@using System.Data;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container">
        <br /><br />
        @*<h2>Här kan du slumpa en tävling</h2><br />*@
        <h2>@ViewBag.Message</h2>
        <br /><br /><br />
        <div>
            <table id="alla_medlemmar" class="table table-striped table-responsive table-bordered" cellspacing="0">

                <thead>
                    <tr>
                        @foreach (DataColumn x in Model.Columns)
                        {
                            <th>@x.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {   
                        <tr>
                            @foreach (DataColumn x in Model.Columns)
                            {
                                <td>@row[x.ColumnName]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        

    </div>



