@model Golf_6.Models.Medlem
@using Golf_6.Models;
@using System.Data;
@{
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}

<div class="center-block">
    <h1>
        Mina bokade tider
    </h1>

    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Tid</th>
                <th>Avboka</th>
            </tr>
        </thead>
        <tr>
            @foreach (DataRow row in Model.bokningar.Rows)
            {
                <tr>
                <td>@Convert.ToDateTime(@row["datum"]).ToShortDateString()</td>
                <td>@row["tid"]</td>
                <td align="right"><a type="button" class="btn btn-danger btn-lg" href="@Url.Action("AvbokningMedlem", "Medlem")">Avboka</a></td>
                </tr>               
            }           
        </tr>
    </table>


</div>

@*@Html.Hidden("tid", row["tid"])*@
@*@Html.Hidden("datum", row["datum"])*@