@using Golf_6.Models;
@using System.Data;
@using (Html.BeginForm("Scorekort", "MedlemController", FormMethod.Post))
{
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}
<head>
    <script language="javascript" type="text/javascript">

        function printDiv() {

            var divToPrint = document.getElementById('scorekort');
            var newWin = window.open('', 'Print-Window', 'width=400,height=400');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        }
    </script>
</head>
<h2>Scorekort</h2>

<div class="center-block" id="scorekort">
    <table id="genereraScorekort" class="table table-striped table-responsive table-bordered" cellspacing="0" style="width: auto">        
        
        <thead>
            <tr>
                <th colspan="6" height="20px">Förnamn:</th>
                <th colspan="4" height="20px">Efternamn:</th>
                <th colspan="4" height="20px">Golf-ID:</th>
            </tr>
            <tr>
                <th colspan="6" height="20px">Datum:</th>
                <th colspan="4" height="20px">Starttid:</th>
                <th colspan="4" height="20px"></th>
            </tr>
            <tr>
                <th colspan="6" scope="colgroup" align="center">Hålslaget GK</th>
                <th colspan="2" scope="colgroup" height="20px"></th>
                <th colspan="2" scope="colgroup" height="20px"></th>
                <th colspan="2" scope="colgroup" height="20px"></th>
                <th colspan="2" scope="colgroup" height="20px"></th>
            </tr>
            <tr>
                <th>Hål</th>
                <th>Gul</th>
                <th>Röd</th>
                <th>Par</th>
                <th>hcp</th>
                <th>Er-slag</th>
                <th style="width: 60px">Slag</th>
                <th style="width: 60px">Poäng</th>
                <th style="width: 60px">Slag</th>
                <th style="width: 60px">Poäng</th>
                <th style="width: 60px">Slag</th>
                <th style="width: 60px">Poäng</th>
                <th style="width: 60px">Slag</th>
                <th style="width: 60px">Poäng</th>
            </tr>
        <tbody>
            @{int count = 0;}
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @if (count == 9)
                    {
                        <td align="right" colspan="3">Ut</td>
                        <td>36</td>
                        <td></td>
                    }

                    else if (count == 19)
                    {
                        <td align="right" colspan="3">In</td>
                        <td>36</td>
                        <td></td>
                    }
                    else if (count == 20)
                    {
                        <td></td>
                        <td>5686</td>
                        <td>5384</td>
                        <td>72</td>
                        <td>S:a</td>
                    }
                    else
                    {                       
                        foreach (DataColumn x in Model.Columns)
                        {

                                <td align="center">@row[x.ColumnName]</td>

                        }
                        <td></td>
                    }
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                 
                </tr>
                count++;
            }
            
        </tbody>

    </table>
        
</div>
<input type="button" onclick="javascript:printDiv('center-block')" value="Skriv ut Scorekort" />
