@model Golf_6.Models.TävlingModels.Anmälan
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Tävling";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.BeginForm()
{

<h2>Tävlingar</h2>

<div class="center-block">
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>

            </tr>
        </thead>
    </table>
</div>
}