@model Golf_6.Models.TävlingModels.Anmälan
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Tävling";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tävling</h2>

